<a href="https://colab.research.google.com/github/aryack2007/ict_assignments/blob/main/assignment01_arya_ck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Grocery billing

In [2]:
#input funcion
a = int(input("Enter item1 price: "))
b = int(input("Enter item1 quantity: "))
c = int(input("Enter item2 price: "))
d = int(input("Enter item2 quantity: "))
t= (a*b) + (c*d)
print(t)

Enter item1 price: 45
Enter item1 quantity: 3
Enter item2 price: 30
Enter item2 quantity: 2
195

2. temparature conversiom

In [5]:
a = int(input("Enter temparature in celsius: "))
b = (a*9/5)+32
print("Enter temparature in fahrenheit: ",a)

Enter temparature in celsius: 30
Enter temparature in fahrenheit:  30

3.Salary slip

In [7]:
a = int(input("Enter the basic salary :"))
HRA = a* (20/100)
DA = a* (10/100)
total_salary = a+HRA+DA
print("Net salary = ", total_salary)

Enter the basic salary :20000
Net salary =  26000.0

4.Simple interest

In [8]:
P = float(input("principle amount"))
R = float(input("rate of interest"))
t = float(input("Time in years"))
si = (P*R*t)/100
print(si)

principle amount10000
rate of interest5
Time in years2
1000.0

5.Time Conversion

In [12]:
import math

In [13]:
minutes = float(input("Enter total minutes" ))
hours = math.floor  (minutes//60)
min = math. floor (minutes % 60)
print(hours," hours",min," minutes")

Enter total minutes130
2  hours 10  minutes

6.BMI CALCULATOR

In [14]:
weight_kg = float(input("Enter weight in kg:" ))
height_m = float(input("Enter height in m:"))
bmi = weight_kg / height_m**2
print("bmi = ",bmi)

Enter weight in kg:60
Enter height in m:1.65
bmi =  22.03856749311295

7.Discount calculation

In [15]:
ogprice = int(input("Enter the price:"))
dis = ogprice - ogprice * 10/100
print(dis)

Enter the price:1200
1080.0

8.Area of a Triangle

In [16]:
a = float (input("Enter side a: "))
b = float (input("Enter side b: "))
c = float (input("enter the side c: "))
s = (a + b + c)/2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print ("Area of the triangle = ",area)

Enter side a: 5
Enter side b: 6
enter the side c: 7
Area of the triangle =  14.696938456699069

9.Paint cost estimator

In [17]:
print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:12
Enter breadth of the wall:8
92.4 sq.m
2310.0

10.Electricity bill calculator

In [18]:
a = float(input("Enter number of units consumed: "))
r = 5.2
f = 100
bill_amount = (a * r) + f
print("Electricity Bill = ",bill_amount)

Enter number of units consumed: 250
Electricity Bill =  1400.0